<div class = "span8">
	<h3 class="bottom-line">Account Overview</h3>
	<table class = "table table-striped">
		<tbody>
			<tr>
			<td>Name</td>
			<td><%= @user.name%></td>
    		</tr>
			<tr>
			<td>Email</td>
			<td><%= @user.email%></td>
    		</tr>
			<tr>
			<td># of Reports Authored</td>
			<td><%= @user.reports.length%></td>
    		</tr>
			<tr>
			<td># of Reports Assigned to You for Review</td>
			<td><%= @user.reports_to_review.length%></td>
    		</tr>
    	</tbody>
	</table>
	<div id="tabs">
		<ul>
			<li><%=link_to "Reports Authored", "#tabs-1"%> </li>
			<li><%=link_to "Reports Assigned to You for Review","#tabs-2"%> </li>
		</ul>
		<div id="tabs-1">
			<table class = "table table-striped">
			<thead>
	    		<tr>
		      	<th>Date For</th>
		      	<th>Created At</th>
	    	  	<th>Reviewer</th>
	    		<th>Details</th>
	    		</tr>
		  	</thead>
	  		<%=render 'shared/report_summary'%>
		</table>
		</div>
		<div id="tabs-2">
		<table class = "table table-striped">
			<thead>
	    		<tr>
		      	<th>Date For</th>
		      	<th>Created At</th>
	    	  	<th>Author</th>
	    		<th>Details</th>
	    		</tr>
		  	</thead>
	  		<%=render 'shared/report_summary2'%>
		</table>
		</div>
	</div>
</div>
