     <div class = "control-group">
     <%= f.label :name %>
     <%= f.text_field :name, :class =>"input-large" %>
     </div>
     <div class = "control-group">
     <%= f.label :email %>
     <%= f.text_field :email, :class =>"input-large" %>
     </div>
     <div class = "control-group">
     <%= f.label :password %>
     <%= f.password_field :password, :class =>"input-large" %>
     </div>
     <div class = "control-group">
     <%= f.label :password %>
     <%= f.password_field :password_confirmation, :class =>"input-large"%>
     </div>
     <%= f.submit "Sign In", :class =>"btn btn-primary" %>
