<%= fields_for :en_words do |word_form| %>
    <tr class="wordfields">
    <td>    
    <%= word_form.text_field :word %>
    </td><td><%= word_form.text_field :meaning, :row => 1 %>
    </td><td><%= word_form.text_field :synonyms, :row => 1 %>
    </td><td><%= word_form.text_field :sentence, :row => 1 %>
    </td><td><%= link_to_remove_fields "remove", word_form%>
    </td>
    </tr>
<% end %>