<div class="span8">
	<%=render 'shared/error_messages', :object => @report %>
	<h3 class="strong">Reports Details</h3>
	<table class = "table table-striped">
		<thead>
    		<tr>
	      	<th></th>
	      	<th></th>
    		</tr>
	  	</thead>
  		<tbody>
			<tr>
			<td>For the Day of</td>
			<td><%=@report.date_for.to_s%></td>
			</tr>
			<tr>
			<td>Author</td>
			<td><%=@report.author_id%></td>
			</tr>
			<tr>
			<td>Reviewer</td>
			<td><%=@report.reviewer_id%></td>
			</tr>
			<tr>
			<td>Vocabular</td>
			<td><%=@report.en_words.map {|t| t.word}.join(",")%></td>
			</tr>
			<td>Readings</td>
			<td><%=@report.book_readings.map {|t| t.book_id}.join(",")%></td>
			</tr>
			<td>Coding</td>
			<td><%=@report.codings.map {|t| t.description + " in " + t.language + "for " + t.duration_hr.to_s + " hours"}.join(",")%></td>
			</tr>
			<td>Others</td>
			<td><%=@report.misc_things.map {|t| t.description}.join(",")%></td>
			</tr>
			
    	</tbody>
	</table>

</div>