<!DOCTYPE html>
<html>
<head>
  <title>Zuxia</title>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/header' %>>
<div class="row">
<p></br></p>                       
<p></br></p>                       
<p></br></p>                                       
<p></br></p>                       
</div>

<div class="container">
<%= yield %>
</div>
</body>
</html>
